@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
textarea {
    border:none;
}

body {
    background-color: #455B56;
    font-family: 'Roboto', sans-serif;  
    color: #eee;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    body {
        font-size: 1rem;
    }
}

#main-header {
    background-color: #888888;
    text-align: center;
    color: #eeeeee;
    padding: 5px 0;
}

#title {
    text-align: center;
    margin-top: 20px;
    color: #eeeeee;
}

main {
    background-color: #349983;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    padding: 1rem;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    main {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 3rem;
    }
}

#description {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    /* form {
        display: grid;
        grid-auto-columns: ;
    } */
}

input[type="text"],
input[type="email"],
input[type="number"] {
    height: 2rem;
    margin-top: .4rem;
    padding-left: .3rem;
}

label{
    margin-top: 1rem;
}

#dropdown {
    margin-top: .5rem;
    height: 2rem;
    min-width: 15rem;
}

#radio-p {
    margin-top: 1.5rem;
}

#radio1,
#radio2 {
    margin-top: 1rem;
}

#check-p {
    margin-top: 1.5rem;
}

.check {
    margin-top: .5rem;
}

#thoughts-lbl {
    margin-top: 1.5rem;
}

textarea {
    font-size: 1.2rem;
    padding-top: .6rem;
    padding-left: .6rem;
}

textarea::placeholder {
    font-size: 1.2rem;
    padding-top: .5rem;
    padding-left: .5rem;
}

#submit {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    max-width: 80%;
    height: 3rem;
    border: none;
    border-radius: 20px;
    box-shadow: #222 0 5px 10px;
    background-color: tan;
}

#submit:focus {
    box-shadow: none;
    transform: translateY(5px);
}

/* Footer */
#main-footer {
    background-color: #888888;
    color: #eeeeee;
    text-align: center;
    padding: 5px 0;
}

#main-footer a {
    text-decoration: none;
    color: darkblue;
}